/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #0a0a0a;
}
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccff00;
}

/* Base resets */
::selection {
    background-color: #ccff00;
    color: #000;
}

html {
    scroll-padding-top: 80px; /* Offset for sticky navbar */
}
